

.inputValue {
  position: absolute;
  width: 200px;
  right: 80px;
  display: flex;
  background: #fff;
  height: 58px;
  align-items: center;

  .input {
    height: 40px;
    width: 30%;
    border:none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    background: rgba(0,0,0,.1);
    margin-right: 8px;
  }
  .btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: 0 10px;
    background: #2784ef;
    color: #fff;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    &:hover {
      cursor: pointer;
      background: #2d83f6;
      color: #fff;
    }
  }
}

.active {
  opacity: 0;
  visibility: hidden;
}