

.inputValue {
  position: absolute;
  right: 80px;
  display: flex;
  .input {
    height: 40px;
    width: 300px;
    border:none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    background: rgba(0,0,0,.1);
  }
  .btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: 0 10px;
    transition: .3s;
    &:hover {
      cursor: pointer;
      background: #2d83f6;
      color: #fff;
    }
  }
}